# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk
*.pdb
*.opensdf
*.sdf
*.ipch
*.suo

*.tlog

# Graphics Diagnostics files
*.vsglog

# Output Folders
Debug/
Release/
TestResults/